

.carusel {
    width: 60%;
    margin: 0 auto;
}

.card {
    border : 1px solid #fff;
    border-radius: 8px;
    overflow: hidden;
    height: 40vh;
    width: 100%;

}

.cardtop > img {
    height: 100%;
    width: 100%;
    max-width: 300px;
    max-height: 250px;
}

.cardtop h1 {
    font-size: 1rem;
    text-align: center;
}

.slick-slide > div {
    margin : 0 10px;
}

.slick-list {
    margin : 0 10px;
}

@media screen and (max-width : 500px) {
    .carusel {
        width: 45%;
        margin: 0 auto;
    }

    .cardtop > img {
        height: 100%;
        width: 100%;
        max-width: 200px;
        max-height: 200px;
    }
    .card {
        border : 1px solid #fff;
        border-radius: 8px;
        overflow: hidden;
        height: 45vh;
        width: 100%;
    
    }
    
}