.category {
    display: flex;
    flex-direction: column;
    position : sticky;
    top : 10%;
    margin-left: 1%;
    height: 100%;
    flex-basis: 10%;
}

.categorys {
    display: flex;
    flex-direction: column;
    position: sticky;
    top : 7%;
    margin-left: 1%;
}

.item {
    margin : 4px 12px;
    font-size : 12px;
}

.textlink {
    color: inherit;
    text-decoration: inherit;
}

@media screen and (max-width : 500px) { /* 모바일 화면에서는 카테고리가 안보이도록 none 처리*/
    /*.category {
        display: none;
    }*/
}